
#slider{
 	overflow: hidden;,
     display: flex;
		height:200px;
 }
 #slider figure{
 	position: relative;
 	width: 150%;
 	margin: 0;
 	left: 0;
 	animation: 15s slider infinite;
 }
 #slider figure img{
 	width: 25%;
 	float: left;
 }

  @keyframes slider{
 	0% {
 		left: 0;
 	}
 	20% {
 		left: 0;
 	}
 	25% {
 		left: -100%;
 	}
 }

@viewport{
	zoom:1.0;
	width:extend-to-zoom;
}
@-ms-viewport{
	width:extend-to-zoom;
	zoom:1.0;	
}


.logo{ height:50dp;
width:50dp;
float:left;
background-color:#ffe6e6;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #377569;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 60px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
.active{color:#1a8cff;}
/* dropdown menu*/
.menu-button{
	background-color:transparent;
	color:white;
	padding:15px;
	font-size:15px;
	cursor:pointer;
	border:1px solid #fff;
	}
	
	.right-menu{
		position:relative;
		display:inline-block;
		float:right;
		margin-top:-55px;
	}
	.dropdown-menu {
		display:none;
		position:absolute;
		background-color:#f9f9f9;
		min-width:158px;
		z-index:1;	
	}
	.dropdown-menu a {
		
		padding:1px 3px;
		text-decoration:none;
		display:block;}
		
	.dropdown-menu a:hover{
		background-color:#000;
	color:#FFFCB2;}
	.right-menu:hover .dropdown-menu{
		display:block;}
	.right-menu:hover .menu-button{
		background-color:transparent;}	
		
	
.about{
	display:flex;
	height:40vh;
	width:100%;
	justify-content:space-between;

}

.about>*nth-child(1){
	flex:1 1 0%;}
	.about>*nth-child(2){
	flex:1 1 90%;}
	.about>*nth-child(3){
	flex:1 1 50%;}
	
	#publish{
		  display: flex;
		border-style: ridge;
		
	}
	#contact{
	float:right;
    margin-top:-330px;
	}
	p {
  font-size: 20px;
  font-style:bold; 
}
#sponsors{text-align: center;}
body{
background-color:#E7BF70 ;
}
.contactform{
	border-style:inset;
	float:left;
	background-color:#EA957F ;
	
}
.sitemap{
	flex:1;
	margin-left:500px;
}
.ul{
	display:block;
	padding:0;
	margin:0;
	text-align:center;
	width:min-content;
}
footer{
background-color:#BC5C79;
  position: absolute;
    bottom: -800px;
	width:100%;
	text-align:center;
	
}


